@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background: theme("background.primary");
    color: theme("colors.soft");
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

@layer utilities {
  .content {
    flex: 4;
  }
}
